@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.landing-section {
  height: clamp(800px, 90vh, 1500px);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
    --size: max(70vh, 70vw);
    --speed: 15s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(
      var(--primary-color),
      var(--primary-color-light)
    );
    animation: rotate var(--speed) var(--easing) infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }

  .landing-section-container {
    width: 100%;
    .dynamic-title {
      margin-top: clamp(50px, 6vw, 80px);
      margin-bottom: clamp(50px, 6vw, 80px);
      padding-left: clamp(10px, 2vw, 30px);
      font-size: clamp(15px, 7.5vw, 130px);
      font-weight: var(--font-weight-bold);
      position: relative;
      display: flex;
      line-height: 0.85;
      color: transparent;
      -webkit-text-stroke: 2px #fff;
      letter-spacing: 0.05em;
      visibility: hidden;
      overflow: hidden;

      span {
        display: block;
        position: relative;

        &:before {
          content: attr(data-char);
          position: absolute;
          left: 0;
          top: 0;
          transform: translateY(-110%);
          color: #fff;
        }
      }

      &::before {
        content: "";
        position: absolute;
        width: 4px;
        height: 100%;
        bottom: 0;
        z-index: 0;
        left: 0px;
        background: var(--landing-title-line);
        border-radius: var(--border-radius-small);
      }
    }

    .contact-button {
      margin: 140px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      button {
        padding: var(--button-padding);
        border-radius: 50px;
        border: 1px solid var(--primary-color);
        background: transparent;
        color: white;
        text-align: center;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        transition: transform 0.5s ease, font-size 0.3s ease;
        &::before {
          content: "";
          position: absolute;
          background: linear-gradient(
            to bottom right,
            var(--primary-color),
            var(--primary-color-dark)
          );
          height: 100%;
          width: 0;
          position: absolute;
          left: 50%;
          bottom: 0;
          z-index: -1;
          transition: 0.5s;
          border-radius: 50px;
          opacity: 0;
          transition: width 0.5s ease, left 0.5s ease, opacity 0.5s ease;
        }

        &:hover {
          transform: scale(1.15);

          &::before {
            width: 100%;
            left: 0;
            opacity: 1;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .landing-section {
    min-height: 65vh;

    .contact-button {
      margin: 90px 0;
      button {
        width: auto;
        padding: 20px 40px;
      }
    }
  }
}
