.skills-section {
  margin: clamp(40px, 10vw, 200px) 0;
  width: 100%;
  position: relative;
  overflow-y: hidden;
  .skills-section-flexcenter {
    width: 100%;
    display: flex;
    justify-content: center;
    .skills-text-behind-scroller {
      font-size: var(--font-size-skills-section);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      height: 100%;
    }
  }
  .skills-scroller {
    margin: 5rem 0;
    max-width: 1200px;
  }

  .skills-scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: var(--infinite-gradient);
    mask: var(--infinite-gradient);
    .scroller_inner {
      width: fit-content;
      flex-wrap: nowrap;
      animation: scroll 20s linear infinite;
    }
  }

  .scroller_inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .tag-list {
    padding-inline: none;
    list-style: none;
  }

  .tag-list > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tag-list li {
    font-size: clamp(16px, 2vw, 2rem);
    padding: 1rem 1.5rem;
    background-color: var(--skills-section-tags);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem var(--skills-section-tags-shadow);
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

@media screen and (max-width: 900px) {
  .skill-tag-scroller {
    font-size: 140px;
  }
}
