:root {
  --primary-color: hsl(222, 84%, 60%);
  --primary-color-light: hsl(164, 79%, 71%);
  --primary-color-dark: hsl(246, 71%, 41%); // coffee button

  --secondary-color-1: hsl(5, 85%, 18%);
  --secondary-color-2: hsl(257, 83%, 28%);
  --secondary-color-3: hsl(210, 86%, 36%);

  --background-color: #0a0a0a;
  --background-color-dark: #020202;
  --backdrop-color: #0000004d; // mobile
  --border-color: rgba(10, 19, 146, 0.62);

  --hover-bg-color: rgba(10, 19, 146, 0.62);
  --card-border: 0.5px solid #3f3f3f;
  --font-color: #c8dff6;
  --font-grey-color: #666;
  --font-color-dark: #9baab0;
  --font-bold-color: #02a2c4;

  --landing-title-line: linear-gradient(
    to bottom,
    var(--secondary-color-1),
    var(--secondary-color-2)
  );
  --horizontal-dividers-background: linear-gradient(
    to bottom,
    #e83724,
    #2f00ff
  );
  --horizontal-scroller-background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 24%,
    rgba(21, 9, 100, 1) 50%,
    #0a1392 84%
  );

  --gradient-start: 30%;
  --gradient-end: 80%;
  --netcompany-border: 2px solid #343434;
  --netcompany-background: radial-gradient(
    hsl(177, 49%, 15%) 1px,
    transparent 1px
  );
  --lego-border: 2px solid #343434;
  --lego-background: radial-gradient(hsl(0, 59%, 44%) 1px, transparent 1px);
  --moesgaard-background: radial-gradient(
    hsl(253, 94%, 67%) 1px,
    transparent 1px
  );
  --moesgaard-border: 2px solid #343434;
  --pdp-background: radial-gradient(hsl(222, 84%, 60%) 1px, transparent 1px);
  --pdp-border: 2px solid #343434;

  --hover-blur-effect: radial-gradient(
    circle at top left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.2)
  );

  --video-bg-color: #e8e7ed;
  --contrast-color-1: #9be0f4;

  --skills-section-tags: #0a1392;
  --skills-section-tags-shadow: #180851;

  --about-me-background-color: var(--background-color-dark);
  --about-me-border-color: #0a1392;
  --about-me-profile-outer-ring: linear-gradient(
    135deg,
    #02a2c4 10%,
    #0a1392 40%,
    #010413 70%
  );

  --infinite-gradient: linear-gradient(
    90deg,
    transparent,
    black 20%,
    black 80%,
    transparent
  );

  --testimonials-card-background: var(--background-color-dark);
  --testimonials-card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --testimonials-card-border: 1px solid #333;
  --testimonials-qoute-color: #02a2c4;
  --testimonials-author-color: #3dcced;
  --testimonials-author-job: #c1c1c1;
  --linkedin-logo-color: #0077b5;

  --margin: 100px;
  --desktop-padding: 5vw;
  --padding: 20px 40px;
  --container-padding: 40px 5vw;
  --button-padding: 15px 50px;
  --mobile-padding: 0 2vw;
  --video-padding: 5px;
  --section-padding: 0 5vw;

  --article-margin: clamp(30px, 10);

  --border-radius-large: 20px;
  --border-radius-medium: 15px;
  --border-radius-small: 10px;
  --border-radius-tiny: 5px;

  --p-line-height: 2;
  --about-me-p-line-height: 70px;
  --super-title-line-height: 1.2;
  --font-margin-bottom: 0 0 1rem;

  --font-expletus: "Expletus Sans", sans-serif;
  --font-nunito: "Nunito Sans", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  --font-size-h1: clamp(2rem, 4vw, 4rem);
  --font-size-h2: clamp(1.75rem, 3.5vw, 3rem);
  --font-size-h3: clamp(1.5rem, 3vw, 2.5rem);
  --font-size-h4: clamp(1.25rem, 2.5vw, 2rem);
  --font-size-h5: clamp(1rem, 2vw, 1.5rem);
  --font-size-h6: clamp(0.875rem, 1.5vw, 1.25rem);
  --font-size-p: clamp(16px, 2vw, 1.25rem);
  --font-size-button: clamp(1rem, 2vw, 1.25rem);

  --font-weight-light: 300;
  --font-weight-medium: 400;
  --font-weight-bold: 700;

  --font-size-super-title: clamp(30px, 7vw, 70px);
  --font-size-skills-section: clamp(120px, 25vw, 20rem);
}
